.not-found {
  width: 100%;
  background-image: url('../../images/404background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.not-found__link {
  color: #fff;
}
