.nav {
  display: flex;
}

.nav__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  align-self: center;
  margin-right: 42px;
  margin-top: 30px;
  padding-bottom: 26px;
}

.nav__link_active {
  border-bottom: 3px solid white;
  padding-bottom: 23px;
}

.nav__button {
  border: 1px solid #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  min-width: 176px;
  height: 48px;
  margin-top: 19px;
  cursor: pointer;
}

.nav_light {
  color: #1a1b22;
}

.nav__button_light {
  color: #1a1b22;
  border: 1px solid #1a1b22;
}

.nav__link_active_light {
  color: #1a1b22;
  border-bottom: 3px solid #1a1b22;
}

@media screen and (max-width: 850px) {

  .nav__link{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
  }

  .nav__link_active{
    padding-bottom: 17px;
  }

  .nav__button {
    font-size: 16px;
    line-height: 24px;
    height: 40px;
  }
}
