.header {
  height: 80px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  align-self: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin: 0 108px;

}

.header__logo {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: 30px;
}

.header__logo_light{
  color: #1A1B22;
}

@media screen and (max-width: 900px) {

.header__content{
  margin: 0 40px;
}
}
@media screen and (max-width: 680px) {

.header__content{
  margin: 0 16px;
}
}
@media screen and (max-width: 620px) {

.header__content{
  margin: 0px;
  flex-direction: column;
  padding: 0px 16px;
  position: relative;
  background: #1A1B22;
}
}
