.newscard {
  height: 576px;
  max-width: 400px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(10px 10px 10px rgba(8, 29, 45, 0.1));
  
}

.newscard__image {
  width: 100%;
  height: 272px;
  object-fit: cover;
  position: relative;
}

.newscard__save {
  position: absolute;
  margin: 0;
  top: 24px;
  right: 24px;
  z-index: 3;
  background: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
  background-image: url('../../images/bookmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  transition: 0.3s linear;

}

.newscard__save:hover{  
  background-image: url('../../images/bookmark_hover.svg');
}

.newscard__save_bookmarked{
  background-image: url('../../images/bookmarked.svg');
}

.newscard__date {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
}

.newscard__text {
  max-width: 352px;
  margin: 20px auto 24px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px

}

.newscard__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
}

.newscard__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newscard__source {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .newscard {
    height: 420px;
    width: 224px;
    margin: 0 auto;
  }

  .newscard__image {
    height: 150px;
  }

  .newscard__text {
    max-width: 192px;
    height: 238px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .newscard__title {
    font-size: 22px;
    line-height: 24px;
  }

  .newscard__paragraph {
    text-overflow: ellipsis;
    height: 88px;
    width: 100%;
    -webkit-line-clamp: 4;
  }
}

@media screen and (max-width: 750px){
  .newscard{
    width: 288px;
    height: 440px;
  }
  .newscard__image {
    height: 196px;
  }
  .newscard__text {
    max-width: 256px;
    height: 212px;
    padding: 0 16px;
  }
}

