.newscard {
  height: 576px;
  max-width: 400px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
}

.newscard__image {
  width: 400px;
  height: 272px;
  object-fit: cover;
  position: relative;
}

.newscard__save {
  position: absolute;
  margin: 0;
  top: 24px;
  right: 24px;
  z-index: 3;
  background: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
  background-image: url('../../images/bookmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.newscard__date {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 0;
}

.newscard__text {
  max-width: 352px;
  margin: 20px auto 24px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newscard__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 ;
}

.newscard__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  margin: 0
}

.newscard__source {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0
}
